.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img_div {
  /* height: max-content; */
  /* background-color: black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profileimg img {
  height: 150px;
  width: 150px;

  border-radius: 50%;
}

.short_details {
  text-align: center;
}

.view_more {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.view_more i {
  height: 20px;
  width: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

@media (max-width: 600px) {
  .profile {
  }
  .img_div {
    /* height: 20vh; */
  }
}
